<p-carousel [value]="mySlideImages" [numVisible]="1" [numScroll]="1" [circular]="true"
    [responsiveOptions]="responsiveOptions" >
    <p-header>
        <h3>Our Collection</h3>
    </p-header>
    <ng-template let-shoe pTemplate="item">
        <div class="car-details">
            <div class="p-grid p-nogutter">
                <div class="p-col-12">
                    <img [src]="shoe.src" style=" max-width: 100%!important;"/>
                </div>
                <div class="p-col-12 car-data" >
                    <div class="car-title">{{shoe.title}}</div>
                    <!-- <div class="car-subtitle">{{car.year}} | {{car.color}}</div> -->

                    <div class="car-buttons">
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>