<p-header>
    <div class="example-label wrapper" style="margin-top: 10px;">
        <h1>Enquiry</h1>
    </div>
</p-header>
<!-- Tiles-->
<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let tile of tiles" colspan="1" rowspan="1" [style.background]="gridColor">
        <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
            [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
            [matRippleColor]="color" (click)="showMaximizableDialog()">
            <!-- {{tile.name}} -->
            <img [src]="tile.src" style="align-items: center; margin: 10px; margin-top: 25px;" />
        </div>
    </mat-grid-tile>
</mat-grid-list>

<p-dialog header="Godfather I" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '400px'}" [numVisible]="4"> 
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
                <img [src]="item.thumbnailImageSrc"  style="width: 30%;"/>
            </div>
        </ng-template>
    </p-galleria>
    <p-footer>
        <button mat-raised-button color="accent" (click)="displayMaximizable=false">Close</button>
    </p-footer>
</p-dialog>